<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- INTERNET 권한. cleartext HTTP는 release에서 차단(기본값), debug 빌드만 src/debug/AndroidManifest.xml 에서 재허용 (LAN 백엔드용). -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 로컬 알림 (flutter_local_notifications). Firebase 없이 앱이 떠 있는 동안
         SSE 로 받은 사건을 기기 알림으로 띄운다. 포그라운드 서비스는 쓰지 않는다
         (2026-08-28 — flutter_foreground_task 는 코드에서 한 번도 호출된 적이 없어 제거). -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- 수업 진행 화면이 꺼지지 않게 (wakelock_plus — wod_session_screen). -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application
        android:label="HYPHEN"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="false">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>

